bcrypt
blinker
decorator
dnspython
email_validator

Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF


hpack
hstspreload
httpcore
httpx
hyperframe
idna
invoke
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
protobuf
requests
rfc3986
sniffio
SQLAlchemy
typing_extensions
urllib3
gunicorn

Werkzeug
wrapt
WTForms
